.headerinfo{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headercontacts{
    display: flex;
    justify-content: space-between;
    width: 14%;
}

header{
    align-self: center;
    width: calc(100% - 40px);
    height: 40px;
    background-color: whitesmoke;
    box-shadow: 4px 4px 8px rgba(200, 200, 200, 50%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}